ion-content{
    --background: #fff url("../../assets/img/background.png") no-repeat center center / cover;
}

.container{
    margin:10px;
    background: rgba(0, 0, 0, 0.568);
}
 
.foto-perfil{
    border-radius: 560px;
}

p,  ion-label{
    color: #fff;
    font-family: "Merienda", cursive;
}

ion-card{
    width: 50%;
    height: 90%;
    margin-left: 25%;
}

