ion-content {
    --background: #fff url("../../../assets/img/houseshogwarts.png") no-repeat center center / cover;
}

ion-content,
ion-title,
.voltar,
.grifinoria,
.sonserina,
.lufalufa,
.corvinal,
.creditos,
.tipoCasa {
    font-family: "Merienda", cursive;
}

ion-title {
    margin-left: 35%;
}

.voltar,
.creditos {
    width: 30%;
    --border-color: #fff !important;
    font-size: 16px;
}

.grifinoria,
.sonserina,
.lufalufa {
    --border-color: #a59236;
    width: 10%;
    margin-left: 46%;
    border-radius: 8px;
    font-size: 10px;
}

.corvinal {
    --border-color: #a59236;
    width: 30%;
    margin-left: 38%;
    border-radius: 8px;
    font-size: 10px;
}

.creditos {
    margin-left: 65%;
}

ion-button {
    border-color: transparent;
}

.tipoCasa {
    margin-left: 38%;
    cursor: pointer;
    color: #a59236;
}
