ion-content{
    --background: #fff url('../../assets/img/background3.png') no-repeat center center / cover;
    font-family: 'Merienda', cursive;

}

ion-title{
    font-family: 'Merienda', cursive;
    margin-left:38%
}

.grifinoria{
font-family: 'Merienda', cursive;
background:#4D0101;
border-radius: 8px;
}

.sonserina{
    font-family: 'Merienda', cursive;
    background:#073200;
    border-radius: 8px;
    }

    .lufalufa{
        font-family: 'Merienda', cursive;
        background:#A59236;
        border-radius: 8px;
        }

        .corvinal{
            font-family: 'Merienda', cursive;
            background: #002949;
            border-radius: 8px;
            }

       
    
ion-button  {
border-color:transparent
}