ion-content {
    --background: #fff url("../../assets/img/background3.png") no-repeat center center / cover;
    font-family: "Merienda", cursive;
}
ion-button{
    --border-color:   #a59236;
}

ion-title {
    font-family: "Merienda", cursive;
    margin-left: 35%;
}

.grifinoria {
    font-family: "Merienda", cursive;
    color: #a59236;
    border-radius: 8px;
}

.sonserina {
    font-family: "Merienda", cursive;
    color: #a59236;
  
    border-radius: 8px;
}

.lufalufa {
    font-family: "Merienda", cursive;
    color: #a59236;
    border-radius: 8px;
}

.corvinal {
    font-family: "Merienda", cursive;
    color: #a59236;
    border-radius:  8px;
}

ion-button {
    border-color: transparent;
}
