ion-content {
    --background: #fff url('../../../assets/img/background.png') no-repeat center center / cover;
}

ion-button,
ion-item,
ion-searchbar,
ion-list,
ion-card-title,
ion-card-content,
ion-content {
    font-family: "Merienda", cursive;
}

ion-searchbar {
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
}

ion-list {
    width: 28%;
    margin-left: 36%;
}

ion-card {
    background: #2828285e;
    width: 100%;
}
ion-card-title,
ion-card-content {
    color: #fff;
}

ion-button{
 font-size: 16px;
}
