ion-content{
    --background: #fff url('../../assets/img/background.png') no-repeat center center / cover;

}

.foto-perfil{
    border-radius: 560px;
}

p{
    color: #fff
}

ion-card{
    width: 50%;
    height: 90%;
    margin-left: 25%;
}

.backBtn{
    position: absolute;
    left: 20vw;
    top: 40vh;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: none;
    background: red;
 }
 
 .nextBtn{
    position: absolute;
    right: 20vw;
    top: 40vh;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: none;
    background: green;
 }