<ion-content>
  <div style="position: absolute;top: 50%;left: 16px;font-size: 25px;z-index: 2;" (click)="slidePrev()">
    <ion-icon name="arrow-back"></ion-icon>
  </div>
  <div style="position: absolute;top: 50%;right: 16px;font-size: 25px;z-index: 2; color:gold; font-weight: bolder;" (click)="slideNext()">
    <ion-icon name="arrow-forward"></ion-icon>
  </div>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
    
      <ion-card>
        <br>
        <img style="margin-left:20%; border-radius: 10px; width: 180px; height: 250px;" [src]="personagemSelecionado.image" />
        <ion-card-header>
          <br>
          <ion-card-subtitle>Personagem</ion-card-subtitle>
          <ion-card-title>{{personagemSelecionado.name.toUpperCase()}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{personagemSelecionado.gender}}, nascido em {{personagemSelecionado.dateOfBirth}},
          pertencente a casa {{personagemSelecionado.house}}, interpretado pelo ator
          {{personagemSelecionado.actor}}.
        </ion-card-content>
      </ion-card>
    </ion-slide>
    </ion-slides>
 
</ion-content>