ion-content{
    --background: #fff url('../../assets/img/background3.png') no-repeat center center / cover;
    font-family: 'Merienda', cursive;

}

ion-button{
    font-family: 'Merienda', cursive;
}

h5{
    color: #fff !important;
    margin: 0auto;
    text-align: center;
    margin-top:30%
}

ion-searchbar{
    width: 30%;
    margin-left: 35%;
    margin-top:5%;
    font-family: 'Merienda', cursive;
}

 ion-list{
    width: 28%;
    margin-left: 36%;
    font-family: 'Merienda', cursive;
}

 ion-toolbar {
   --background: rgba(255, 255, 255, 0.041);
   --opacity: 0.9;
}
ion-card{
    background: #2828285e;
    width: 100%;
}
ion-card-title, ion-card-content{
    font-family: 'Merienda', cursive;
    color:#fff
}