<ion-content>
  
  <ion-searchbar [(ngModel)]="autocomplete.input" (ionChange)="pesquisaPeloTermo($event)" placeholder="Digite o nome de um personagem..." expand="block"></ion-searchbar>
  <ion-list [hidden]="personagensSelecionados.length == 0">
    <ion-item *ngFor="let item of personagensSelecionados" tappable (click)="itemSelecionado(item)">
      {{ item.name }}
    </ion-item>
  </ion-list>
  <br>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../../assets/img/corvinal.png">
      </ion-col>
      <ion-col>
        <img src="../../assets/img/grifinoria.png">
      </ion-col>
      <ion-col>
        <img src="../../assets/img/lufalufa.png">
      </ion-col>
      <ion-col>
        <img src="../../assets/img/sonserina.png">
      </ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>