ion-content{
    --background: #fff url('../../assets/img/background3.png') no-repeat center center / cover;
    font-family: 'Merienda', cursive;

}

h5{
    color: #fff !important;
    margin: 0auto;
    text-align: center;
    margin-top:30%
}

ion-searchbar{
    width: 30%;
    margin-left: 35%;
    margin-top:28%
}

 ion-list{
    width: 28%;
    margin-left: 36%;
}

ion-grid{
 margin-left: 30%;
}