
ion-content{
  --background: #fff url('../../assets/img/background.png') no-repeat center center / cover;
}
ion-button{
  width: 15%;
  margin-top: 35%;
  margin-left: 43%;
  font-size: 15pt;
  font-family: 'Merienda', cursive;
}
